<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="jungle.policy.dao.mapper.PolicyMapper">
	<select id="selectSupport" resultType="Support">
		select idx,
			title,
			content,
			view_yn viewYn,
			link_url linkUrl,
			DATE_FORMAT(created_at,'%Y-%m-%d') AS createdAt,
			created_by createdBy,
			DATE_FORMAT(updated_at,'%Y-%m-%d') AS updatedAt,
			updated_by updatedBy
		from SUPPORT
		where view_yn = 'y'
	</select>
</mapper>
