@charset "utf-8";
body { min-width:1230px; }
.wrap { position:relative }
.header { background:#fff; z-index:99999; border-bottom:1px solid #d7d8d8; box-sizing:border-box; }
.header_top { border-bottom:1px solid #d7d8d8; box-sizing:border-box;}
.header_top_area { position:relative; width:1230px; padding:17px 0 22px; margin:0 auto; text-align:center; }
.header_top_area .left { position:absolute; left:0; top:35px; }
.header_top_area .left a { display:inline-block; padding:0 15px; line-height:26px; color:#bc8b59; border:2px solid #bc8b59; box-sizing:border-box; border-radius:15px; }
.header_top_area .left a span { font-size:12px; vertical-align:top;}
.header_top_area .right { position:absolute; right:0; top:35px; }
.header_top_area .right img { vertical-align:top; }
.header_top_area .right .menu { display:inline-block; width:90px; text-align:center; line-height:26px; color:#bc8b59; border:2px solid #bc8b59; box-sizing:border-box; border-radius:15px; }
.header_top_area .right .menu.close { color:#5bb5ac; border:2px solid #5bb5ac; }
.btn_menu { display:none; }
.m_menu { display:none; }
.m_gnb { display:none; }

.depth2 { display:none; position:absolute; left:50%; top:-10px; width:100%; margin-left:-615px; border:1px solid #ccc; background:#fff; z-index:10; }
.depth2:after { content:""; position:absolute; top:-8px; right:30px; width:10px; height:8px; background:url(../img/bullet_depth2.png) 0 0 no-repeat; }
.gnb2 { display:inline-block; min-height:110px; padding:0px 40px 0; margin:30px 0; vertical-align:top; border-left:1px solid #dfdfdf; }
.gnb2:first-child { border-left:0; }
.gnb2 p { padding-bottom:10px; color:#ab6f32; }
.gnb2 p a { display:block; color:#ab6f32; }
.gnb2 > a { display:block; font-size:14px; color:#393939; line-height:27px; }

.gnb_logo { width:1230px; margin:0 auto; padding:33px 0 28px; text-align:center; }
.gnb_area { position:relative; width:1230px; margin: 0 auto; }
.gnb { display:table; margin:0 auto; }
.gnb li { float:left;  }
.gnb li a { display:inline-block; padding:0 73px; color:#393939; font-size:20px; line-height:90px; font-weight:600; background:url('../img/gnb_line.png') 0 50% no-repeat; }
.gnb li:first-child a { padding-left:0; }
.gnb li.last a { padding-right:0; }
.gnb li a.on, .gnb li a:hover { color:#ab6f32; }

.container_all { padding-top:50px; margin-bottom:50px; background:#f7f7f7; }
.container_main { position:relative; margin:0 auto 0; width:1230px; padding:0 0 0px; }

/* ���� */
.main_list { position:relative; overflow:hidden; }
.main_list_title { float:left; padding-top:50px; width:130px; text-align:center; }
.main_list_title p { padding:10px 0 15px; font-size:26px; color:#393939; line-height:34px; font-weight:600; }

.thumb_list { margin-left:150px; overflow:hidden; }
.thumb_list li { float:left; width:25%; padding:0 0 30px 20px; box-sizing: border-box; }
.thumb_list li a { position:relative; display:block; }
.thumb_list li a img { border:1px solid #dedede; }
.thumb_list li a p { padding:10px 0 0; font-size:18px; color:#393939; line-height:24px; overflow:hidden; height:50px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.thumb_date { display: block; padding:10px 0; font-size:14px; color:#6a6a6a; }

i { position:absolute; }
i.multi { top:20px; right:20px; text-indent:-5000px; width:26px; height:26px; background:url(../img/thumb_view_multi.png) 0 0 no-repeat; }
i.movie { top:90px; left:50%; margin-left:-30px; text-indent:-5000px; width:60px; height:60px; background:url(../img/thumb_view_movie.png) 0 0 no-repeat; }

.main_banner { margin-left:-20px; margin-bottom:50px; overflow:hidden; }
.main_banner li { float:left; margin-left:20px; }
.main_banner01 { margin-left:-20px; margin-bottom:20px; overflow:hidden; }
.main_banner01 li { float:left; margin-left:20px; }
.move { position:absolute; top:20px; width:15px; height:26px; text-indent:-5000px; }
.move.left { left:-30px; background:url(../img/move_left.png) 0 0 no-repeat;}
.move.right { right:-30px; background:url(../img/move_right.png) 0 0 no-repeat;}

.main_list_area { position:relative; margin:0 auto 30px; width:1230px; padding:0 0 0px; overflow:hidden;}
.faq_main { float:left; width:605px; }
.data_main { float:right; width:605px; }
.main_list_area p { position:relative; margin-bottom:20px; padding:0 20px; background:#f7f7f7; font-size:26px; color:#393939; line-height:65px; border:1px solid #d8d8d8; box-sizing:border-box; }
.main_list_area p a { display:inline-block; position:absolute; top:30px; right:20px; line-height:8px; padding:0 5px; font-size:13px; color:#ab6f32; border-left:1px solid #e8dcd0; border-right:1px solid #e8dcd0; }
.main_list_area ul { position:relative; padding:20px 20px; border:1px solid #d8d8d8; box-sizing:border-box; }
.main_list_area ul li { line-height:30px; }
.main_list_area ul li a { color:#393939; }


/* ��� */
.thumb_list01 { overflow:hidden; }
.thumb_list01 li { float:left; width:25%; padding:0 0 30px 30px; box-sizing: border-box; }
.thumb_list01 li a { position:relative; display:block; }
.thumb_list01 li a img { border:1px solid #dedede; }
.thumb_list01 li a p { padding:10px 0 0; font-size:18px; color:#393939; line-height:24px; overflow:hidden; height:50px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.thumb_date01 { display: block; padding:10px 0; font-size:14px; color:#6a6a6a; }

.more { position:relative; margin:30px 0; text-align:center; }
.more a { display:inline-block; padding:0 220px; font-size:24px; color:#6a6a6a; font-weight:600; line-height:70px; border:2px solid #c1c1c1; border-radius:35px; }
.more a img { padding-left:10px; }


/* Ǫ�� */
.footer { margin-top:50px; padding:45px 0 45px; border-top:1px solid #d7d8d8; background:#f7f7f7; text-align:center; box-sizing:border-box; }
.footer .left { display:inline-block; padding-right:50px; vertical-align:top; }
.footer .right { display:inline-block; padding-top:10px; font-size:14px; letter-spacing:-0.2px; text-align:left; }
.footer .right span { color:#b2b2b2; }

/* �� */
.submenu { margin-bottom:45px; background:#ab6f32; text-align:center; font-size:0; }
.submenu a { display:inline-block; padding:0 35px; line-height:75px; font-size:18px; color:#fff; font-weight:600; }
.submenu a.on { color:#ffe68b; background:#8f571d; }
.submenu a img { padding-right:10px; }

.tab { position:relative; padding-top:20px; margin-bottom:50px; font-size:0; overflow:hidden; }
.tab a { display:inline-block; padding:0 35px; line-height:50px; text-align:center; font-size:18px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:25%; }
.tab a.on { color:#ab6f32; border:2px solid #ab6f32; border:1px solid #ab6f32; background:#fff; }

.tab02 { position:relative; padding-top:20px; margin-bottom:50px; font-size:0; overflow:hidden; }
.tab02 a { display:inline-block; padding:0 35px; line-height:50px; text-align:center; font-size:18px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:25%; }
.tab02 a.on { color:#ab6f32; border:2px solid #ab6f32; border:1px solid #ab6f32; background:#fff; }
.tab03 { position:relative; padding-top:20px; margin-bottom:50px; font-size:0; overflow:hidden; }
.tab03 a { display:inline-block; padding:0 35px; line-height:50px; text-align:center; font-size:18px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:50%; }
.tab03 a.on { color:#ab6f32; border:2px solid #ab6f32; border:1px solid #ab6f32; background:#fff; }


/* LNB */
.lnb { float:left; width:230px; }
.lnb_top { padding:30px 0; font-size:22px; color:#fff; text-align:center; background:#ab6f32; }
.lnb_top p { padding-top:10px; }
.lnb_menu {}
.lnb_menu a { display:block; padding:0 25px 0 15px; font-size:18px; line-height:50px; border-bottom:1px solid #d7d8d8; }
.lnb_menu a.on { color:#9b6731; font-weight:600; }


/* ���� */
.blank { position:relative; margin-top:217px; height:30px; text-indent:-5000px; }
.container { position:relative; margin:0 auto 0; width:1230px; padding:0 0 0px; overflow:hidden; }

h1 { padding-bottom:50px; font-size:26px; color:#393939; font-weight:600; font-family:'NanumSquare'}
h1 p { padding-top:10px; font-size:22px; color:#959595; font-weight:400; line-height: 28px; }
h2 { padding-bottom:45px; font-size:26px; color:#393939; font-weight:600; text-align:center; font-family:'NanumSquare'}
h2 p { display:inline-block; float:right; }

h3 { padding:25px 0 20px; font-size:32px; color:#000; font-weight:600; line-height:32px; font-family:'NanumSquare'}
h4 { padding:45px 0 20px; font-size:25px; color:#000; font-weight:600; font-family:'NanumSquare'}
h5 { padding:10px 0 38px; font-size:35px; line-height:50px; color:#000; font-weight:600; font-family:'NanumSquare'}
h6 { padding:0 0 30px; font-size:30px; color:#000; font-weight:600; line-height:30px; font-family:'NanumSquare'}

.txt { padding:0 15px!important; height:40px; line-height:40px; border:1px solid #c1c1c1; box-sizing:border-box; font-size:18px; color:#0f0f0f; font-family:'Nanum Square', 'dotum', 'AppleGothic'; }
.txt.round { padding:0 30px 0 20px !important; border:2px solid #c1c1c1; box-sizing:border-box; color:#959595; border-radius:20px; }

.txt02 { width:70%; padding:0 15px!important; height:50px; line-height:50px; box-sizing:border-box; font-size:18px; color:#0f0f0f; font-family:'Nanum Square', 'dotum', 'AppleGothic'; }

h2 select { -webkit-appearance: none; /* ����Ƽ�� ���� ���߱� */ 
				-moz-appearance: none; appearance: none; 
				background: url('../img/select_arrow.png') no-repeat 85% 50%; /* ȭ��ǥ ����� �̹��� */ } 
/* IE 10, 11�� ����Ƽ�� ȭ��ǥ ����� */ 
h2 select::-ms-expand { display: none; }


.lnb_body { padding-left:280px; margin-top:30px; }
.search_area { margin-bottom:30px; text-align:center; }
.search_area .btn_search { display:inline-block; padding:0 20px; line-height:50px; text-align:center; font-size:18px; color:#fff; background:#ab6f32; vertical-align:middle; }




/* ���̺� */
.list_table01 {}
.list_table01 th { padding:10px; border:1px solid #dfdfdf; border-right:0; font-size:18px; background:#f7f7f7; }
.list_table01 th:first-child { border-left:0; }
.list_table01 td { padding:10px; border:1px solid #dfdfdf; border-right:0; text-align:center; }
.list_table01 td:first-child { border-left:0; }
.list_table01 td a { display:inline-block; color:#ab6f32; }

.list_table02 {}
.list_table02 th { padding:10px; border:1px solid #dfdfdf; border-right:0; font-size:18px; background:#f7f7f7; }
.list_table02 th:first-child { border-left:0; }
.list_table02 td { padding:10px; border:1px solid #dfdfdf; border-right:0; font-size:18px; }
.list_table02 td:first-child { border-left:0; }
.list_table02 td a { display:inline-block; color:#ab6f32; }
.list_table02 td .copy { display:inline-block; margin:5px 0; padding:0 15px; color:#fff; line-height:26px; background:#ab6f32; border-radius:13px; }

.list_table03 {}
.list_table03 th { padding:10px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; font-size:18px; background:#f7f7f7; }
.list_table03 td { padding:10px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;  font-size:18px; }
.list_table03 td a { display:inline-block; color:#ab6f32; }

.list_table04 { margin:30px 0; }
.list_table04 th { padding:0px 10px; border:1px solid #dfdfdf; border-right:0; font-size:16px; background:#f7f7f7; font-weight:400; }
.list_table04 th:first-child { border-left:0; }
.list_table04 th.bg_white { background:#fff; }
.list_table04 td { padding:0px 10px; border:1px solid #dfdfdf; border-right:0; font-size:16px; }
.list_table04 td:first-child { border-left:0; }

.list_type01 > a { display:block; color:#393939; }
.list_type01 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type01 dl dt { display:inline-block; padding:5px 10px; box-sizing:border-box; font-size:18px; text-align:center; line-height:40px; font-weight:600; background: #f7f7f7; border-top:1px solid #dfdfdf; }
.list_type01 dl dt.l_no { width:10%; }
.list_type01 dl dt.l_title { width:40%; text-align:left; }
.list_type01 dl dt.l_file { width:20%; }
.list_type01 dl dt.l_date { width:20%; }
.list_type01 dl dt.l_count { width:10%; }

.list_type01 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type01 dl dd { display:inline-block; padding:5px 10px; box-sizing:border-box; font-size:18px; text-align:center; line-height:40px; }
.list_type01 dl dd.l_no { width:10%; }
.list_type01 dl dd.l_title { width:40%; text-align:left; }
.list_type01 dl dd.l_file { width:20%; }
.list_type01 dl dd.l_date { width:20%; }
.list_type01 dl dd.l_count { width:10%; }


.list_type02 > a { display:block; color:#393939; }
.list_type02 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type02 dl dt { display:inline-block; padding:5px 10px; box-sizing:border-box; font-size:18px; text-align:center; line-height:40px; vertical-align:middle; font-weight:600; background: #f7f7f7; border-top:1px solid #dfdfdf; }
.list_type02 dl dt.l_no { width:10%; }
.list_type02 dl dt.l_cate { width:10%; }
.list_type02 dl dt.l_title { width:45%; text-align:left; }
.list_type02 dl dt.l_file { width:10%; }
.list_type02 dl dt.l_date { width:15%; }
.list_type02 dl dt.l_count { width:10%; }

.list_type02 dl dd { display:inline-block; padding:5px 10px; box-sizing:border-box; font-size:18px; text-align:center; line-height:40px; vertical-align:middle; }
.list_type02 dl dd.l_no { width:10%; }
.list_type02 dl dd.l_cate { width:10%; }
.list_type02 dl dd.l_title { width:45%; text-align:left; }
.list_type02 dl dd.l_file { width:10%; }
.list_type02 dl dd.l_date { width:15%; }
.list_type02 dl dd.l_count { width:10%; }


.btn_area02 { position:relative; text-align:center; }
.btn_area02 a { display:inline-block; padding:0 20px; font-size:18px; text-align:center; color:#ab6f32; font-weight:600; border:2px solid #ab6f32; box-sizing:border-box; line-height:40px; border-radius:20px; }


/* UI Object */
.paginate{padding:50px 0 20px; text-align:center; font-size:0; }
.paginate a img{border:none;vertical-align:middle;_vertical-align:top}
.paginate a,.paginate strong { display:inline-block; position:relative; padding:0 10px; color:#6a6a6a; font-size:18px; font-weight:600; line-height:38px; border:1px solid #d7d8d8; border-left:0; text-decoration:none; vertical-align:middle}
.paginate strong {color:#fff !important;font-weight:bold; background:#ab6f32; }
.paginate .frst{background:none}
.paginate a.pre,.paginate a.next{padding:0 10px; background:none !important}
.paginate a.pre{margin:0; border-left:1px solid #d7d8d8;}
.paginate a.next{margin:0;}

/* UI Object */
.info{border-bottom:1px solid #ddd;font-size:18px; }
.info .hgroup{position:relative;margin:0 0 10px 0;*zoom:1}
.info .hgroup .trigger{overflow:visible;position:absolute;top:50%;right:0;margin:-7px 0 0 0; padding:0; border:0; color:#ab6f32; font-weight:600; background:none; font-size:18px; cursor:pointer}
.info .hgroup .trigger span { color:#ab6f32; font-weight:600; font-size:18px; }
.info ul{margin:0;padding:0;list-style:none}
.info .q{position:relative; margin:0;border-top:1px solid #ddd}
.info .q a.trigger{display:block;padding:15px 20px;background:#fafafa;font-weight:bold;color:#333;text-align:left;text-decoration:none !important; font-size: 20px; }
.info .hide .q a.trigger{font-weight:normal;background:none}
.info .q a.trigger:hover, .info .q a.trigger:active, .info .q a.trigger:focus{background:#f8f8f8;color:#a26322;}
.info .a{margin:0; padding:10px 20px 20px; line-height:1.5; font-size:16px; }
.info span { color:#999; font-size:18px; }
.after_up { position:absolute; top:20px; right:10px; width:23px; height:15px; background:url(../img/bullet_spread.png) 0 0 no-repeat; text-indent:-5000px; cursor:pointer; }
.after_down { position:absolute; top:20px; right:10px; width:23px; height:15px; background:url(../img/bullet_spread_01.png) 0 0 no-repeat; text-indent:-5000px; cursor:pointer; }

/* UI Object */
.faq{border-bottom:1px solid #ddd;font-size:18px; }
.faq .hgroup{position:relative;margin:0 0 10px 0;*zoom:1}
.faq .hgroup .trigger{overflow:visible;position:absolute;top:50%;right:0;margin:-7px 0 0 0; padding:0; border:0; color:#ab6f32; font-weight:600; background:none; font-size:18px; cursor:pointer}
.faq .hgroup .trigger span { color:#ab6f32; font-weight:600; font-size:18px; }
.faq ul{margin:0;padding:0;list-style:none}
.faq .q{margin:0;border-top:1px solid #ddd}
.faq .q a.trigger{display:block;padding:15px 20px;background:#fafafa;font-weight:bold;color:#333;text-align:left;text-decoration:none !important}
.faq .hide .q a.trigger{font-weight:normal;background:none}
.faq .q a.trigger:hover, .faq .q a.trigger:active, .faq .q a.trigger:focus{background:#f8f8f8;color:#a26322;}
.faq .a{margin:0; padding:10px 20px 20px; line-height:1.5; font-size:16px; }
.faq span { color:#999; font-size:18px; }

/* �� */
.contents_view { font-size:18px; line-height:38px; color:#333; }
.contents_view_center { text-align:center; }
.contents_view .padd { padding-bottom:40px; }
.contents_view .padd img { min-width:100%; }
.contents_view .title { font-size:40px; line-height:60px; font-weight:600; }
.contents_view .date { padding:20px 0; font-size:22px; color:#959595; }
.contents_view .root { padding:100px 0 0; font-size:18px; color:#959595; }

.contents_view .homepage { padding:10px 0 50px; font-size:22px; }
.contents_view .homepage span { color:#ab6f32; }
.contents_view .homepage .add_copy { display:inline-block; margin-left:20px; padding:0 20px; font-size:16px; color:#fff; line-height:26px; background:#ab6f32; border-radius:13px; }
.contents_view .date01 { padding:0; font-size:22px; color:#959595; }
.meeting_view { padding-bottom:50px; overflow:hidden; }
.meeting_view .padd_left { float:left; }
.meeting_view p { padding-left:450px; }

.share { position:relative; margin:50px 0 150px; text-align:center; }
.btn_share { display:inline-block; width:80px; height:80px; background:url(../img/btn_share.png) 0 0 no-repeat; text-indent:-5000px; }
.btn_share.on { background:url(../img/btn_share_on.png) 0 0 no-repeat; text-indent:-5000px; }
.share_more { display:none; position:absolute; top:110px; left:50%; margin-left:-245px; padding:10px 15px; background:#fff; border:1px solid #ccc; }
.share_more:after { content:""; position:absolute; top:-13px; left:50%; margin-left:-10px; width:20px; height:14px; background:url(../img/bullet_share.png) 0 0 no-repeat; }
.share_more a { margin:0 3px; }

.share01 { position:relative; text-align:center; margin-top:20px; }
.btn_share01 { display:inline-block; width:44px; height:45px; background:url(../img/btn_share01.png) 0 0 no-repeat; text-indent:-5000px; }
.share_more01 { display:none; position:relative; top:30px; left:50%; width:495px; margin-left:-245px; padding:10px 15px; background:#fff; border:1px solid #ccc; }
.share_more01:after { content:""; position:absolute; top:-13px; left:50%; margin-left:-10px; width:20px; height:14px; background:url(../img/bullet_share.png) 0 0 no-repeat; }
.share_more01 a { margin:0 3px; }


.contents_view02 { font-size:18px; line-height:38px; color:#333; }
.contents_view02_center { text-align:center; }
.contents_view02 .padd { padding-bottom:40px; }
.contents_view02 .padd img { min-width:100%; }
.contents_view02 .title { font-size:34px; line-height:60px; font-weight:600; }
.contents_view02 .date { padding:0 0 30px; margin-bottom:30px; font-size:18px; color:#959595; border-bottom:1px solid #d7d8d8; }
.contents_view02 p { font-weight:400; }





/* modal popup */
.black_overlay { position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:9999; -moz-opacity: 0.5; opacity:.50; filter: alpha(opacity=50); }
.divpop_close { position:absolute; top:20px; right:20px;}
.white_content { position: fixed; top: 30%; left: 50%; margin-top:-200px; margin-left:-350px; width: 700px; z-index:10000; /*margin-bottom:100px;*/ }
.white_content01 { position: fixed; top: 30%; left: 50%; margin-top:-25%; margin-left:-550px; width: 1100px; z-index:10000; }
.white_content01 .movie_text { padding:20px; font-size:18px; background:#fff; }
.white_content01 .movie_text p { padding-bottom:10px;font-size:22px; font-weight:600; }
/*
.divpop_close {color:#fff; text-align:right; text-decoration:none; font-size:12px; overflow:hidden; background-color:#0090D0;}
.divpop_close a {color:#fff; font-weight:bold; text-decoration:none; vertical-align:middle; border-left:1px solid #fff; margin-left:10px; padding:0 10px;}
*/
#divpop, #fade { visibility: hidden;}
#divpop01, #fade01 { visibility: hidden;}



/* �����̴� */
.main_slider { margin-bottom:0; }
.bx-controls { height:0; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: relative; top: -70px; right: 0!important; }
.bx-controls-direction {}

.bx-wrapper .bx-next { right: -100px!important; background: url(images/controls_01.png) no-repeat -52px 0; }
.bx-wrapper .bx-prev { left: -100px!important; background: url(images/controls_01.png) no-repeat 0 0; }
.bx-wrapper .bx-pager { position:absolute!important; text-align: center; font-size: 18px!important; line-height:34px; border-radius:17px; font-weight: bold; color: #666;
    padding: 0 25px!important; display:inline-block; background:#000; /*right:20px!important;*/ left:auto!important; top:10px!important; opacity:0.5; }


.main_slider .bx-controls-direction { display:none; }
.main_slider .bx-wrapper .bx-pager { position:relative!important; text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding: 20px 0 0!important; display:block; background:none; left:0; top:-80px!important; }


.info_data { font-size:18px; }
.info_data .title { padding:10px 0; font-size:20px; font-weight:600; }
.info_data .dep01 {  }
.info_data .dep01 li { padding-left:10px; background:url(../img/bullet_dot.png) 0 10px no-repeat; line-height:30px; }
.red { color:#f55555 !important; }
.red_big { display:block; color:#f55555 !important; padding:20px 0 10px; font-size:20px!important; font-weight:600; }
.table_q { margin:10px 0 0; padding:10px; color:#ab6f32; font-weight:600; border-top:1px solid #d7d8d8; border-bottom:1px solid #d7d8d8; background:#f7f7f7;}
.table_a { margin:0 0 10px; padding:10px; border-bottom:1px solid #d7d8d8; }
.info_data .list_table01 { margin:10px 0; }


.image_view { margin-top:50px; overflow:hidden; }
.w3-row-padding>.w3-col { padding: 0 8px 20px !important; }
.w3-col.s4 { width: 33.33333%; }


#main_frame{ width: 1100px; height: 600px; }

#divpop01{ margin-top: -12%; }


















/* 반응형 */
@media screen and (max-width:999px) {
body { min-width:100%; }
.wrap { position:relative; }
.header { background:#fff; z-index:99999; border-bottom:1px solid #d7d8d8; box-sizing:border-box; }
.header_top { border-bottom:1px solid #d7d8d8; box-sizing:border-box;}
.header_top_area { position:relative; padding:14px 0 14px; width:100%; margin:0 auto; text-align:center; }
.header_top_area .left { display:none; }
.header_top_area .right { display:none; }

.btn_menu { display:block; position:absolute; top:20px; right:10px; }
.btn_menu > img { width:15px; }
.m_menu { display:none; position:fixed; top:0; width:100%; height:100%; background:#f7f7f7; z-index:9; }
.m_menu h1 { padding:0 15px; font-size:15px; color:#fff; line-height:55px; text-align:left; background:#9b6731; }
.m_menu h1 .m_close { display:inline-block; position:absolute; top:0; right:10px; }
.m_menu h1 .m_close img { width:15px; }
.m_menu h2 { padding:0 15px; font-size:14px; color:#393939; line-height:35px; text-align:left; background:#f7f7f7; border-bottom:1px solid #d7d8d8; }
.m_menu h2 span { padding:0 15px; font-size:10px; color:#ab6f32; }

.m_menu .m_menu_dep { overflow:hidden; border-bottom:1px solid #d7d8d8; background:#fff; }
.m_menu .m_menu_dep li { float:left;}
.m_menu .m_menu_dep li a { display:block; font-size:13px; line-height:40px; background:url(../img/m_menu_line.png) 0 50% no-repeat; }
.m_menu .m_menu_dep li:first-child a { background-image:none; }
.m_menu .m_menu_dep.menu2 li { width:50%; }
.m_menu .m_menu_dep.menu3 li { width:33.33333%; }

.m_menu p { padding:25px 15px 10px; text-align:left; }
.m_menu p img { height:30px; }

.m_gnb { display:block; padding:10px; font-size:18px; font-weight:600; background:#f7f7f7; }

.container { position:relative; margin:0 auto 0; width:100%; padding:0 10px 0px; overflow:hidden; box-sizing:border-box; }
.logo img { width:120px; }

/* LNB */
.lnb { float:none; width:100%; }
.lnb_top { display:none; }
.lnb_top p { padding-top:10px; }
.lnb_menu { margin:0 -10px; background:#ab6f32; text-align:center; }
.lnb_menu a { display:inline-block; width:49%; text-align:center; color:#fff; padding:0; font-size:10px; line-height:45px; border-bottom:0; box-sizing:border-box; }
.lnb_menu a.on { color:#9b6731; font-weight:600; color:#ffe68b; background:#8f571d; box-sizing:border-box; }

.lnb_body { padding-left:0; margin-top:30px; }
.search_area { margin-bottom:30px; text-align:center; }
.search_area .btn_search { display:inline-block; padding:0 20px; line-height:35px; text-align:center; font-size:14px; color:#fff; background:#ab6f32; vertical-align:middle; }

/*����*/
.container_all { padding-top:10px; margin-bottom:10px; background:#f7f7f7; }
.container_main { position:relative; margin:0 auto 0; width:100%; padding:0 0 0px; }
.gnb_area { position:relative; width:100%; margin: 0 auto; display:none; }
.main_list_area { position:relative; padding:10px; margin:0 auto 30px; width:100%; overflow:hidden; box-sizing:border-box; }

.faq_main { float:left; width:100%; margin-top:20px; }
.data_main { float:right; width:100%; margin-top:20px; }

.main_list_area p { position:relative; margin-bottom:20px; padding:0 15px; background:#f7f7f7; font-size:18px; color:#393939; line-height:35px; border:1px solid #d8d8d8; box-sizing:border-box; }
.main_list_area p a { display:inline-block; position:absolute; top:15px; right:20px; line-height:8px; padding:0 5px; font-size:13px; color:#ab6f32; border-left:1px solid #e8dcd0; border-right:1px solid #e8dcd0; }
.main_list_area ul { position:relative; padding:20px 20px; border:1px solid #d8d8d8; box-sizing:border-box; }
.main_list_area ul li { line-height:24px; }
.main_list_area ul li a { color:#393939; font-size:14px;}


.main_banner {display:none; padding:0 20px; margin-left:0; margin-bottom:0; overflow:hidden; }
.main_banner li { float:left; width:20%; margin:0 0px; box-sizing:border-box; }
.main_banner01 {display:none; margin:10px; overflow:hidden; }
.main_banner01 li { float:left; width:20%; margin:0 0px; box-sizing:border-box; }
.move { position:absolute; top:50%; margin-top:-10px; width:10px; height:20px; text-indent:-5000px;  }
.move.left { display:none;left:0px; background:url(../img/move_left.png) 0 0 no-repeat; background-size:cover;}
.move.right { display:none;right:0px; background:url(../img/move_right.png) 0 0 no-repeat; background-size:cover;}

.main_list { padding:0 10px;position:relative; overflow:hidden; }
.main_list_title { float:none; padding-top:10px; padding-bottom:10px; width:100%; text-align:left; overflow:hidden; }
.main_list_title > img { float:left; padding-top:0; padding-right:5px; width:17px; text-align:center; }
.main_list_title p { display:inline-block; padding:0; font-size:18px; color:#393939; line-height:16px; font-weight:600; vertical-align:top;}
.main_list_title a { float:right; }
.main_list_title a img { width:20px; }

.thumb_list { margin-left:0; }
.thumb_list li { float:left; width:50%; padding:0 5px 20px; box-sizing: border-box; }
.thumb_list li a { position:relative; display:block; }
.thumb_list li a img { border:1px solid #dedede; min-width:100%; }
.thumb_list li a p { padding:5px 0 0; font-size:14px; color:#393939; line-height:18px; overflow:hidden; height:36px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.thumb_date { display: block; padding:5px 0; font-size:9px; color:#6a6a6a; }

/* ��� */
.thumb_list01 { margin-left:0; }
.thumb_list01 li { float:left; width:50%; padding:0 5px 20px; box-sizing: border-box; }
.thumb_list01 li a { position:relative; display:block; }
.thumb_list01 li a img { border:1px solid #dedede; min-width:100%; }
.thumb_list01 li a p { padding:5px 0 0; font-size:14px; color:#393939; line-height:18px; overflow:hidden; height:36px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.thumb_date01 { display: block; padding:5px 0; font-size:9px; color:#6a6a6a; }


i.multi { top:15px; right:15px; text-indent:-5000px; width:26px; height:26px; background:url(../img/thumb_view_multi.png) 0 0 no-repeat; }
i.movie { top:60%; left:50%; margin-top:-40%; margin-left:-15px; text-indent:-5000px; width:30px; height:30px; background:url(../img/thumb_view_movie.png) 0 0 no-repeat; background-size:cover;}


/* modal popup  �����̴� */
.black_overlay{ position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:9999; -moz-opacity: 1; opacity:1; filter: alpha(opacity=100); }
.divpop_close img { width:25px; }
.white_content { position: fixed; top:50%; left:50%; margin-top:-200px; margin-left:-50%; width:100%; z-index:10000; /*margin-bottom:100px;*/ }
.white_content01 { position: fixed; top: 50%; left: 50%; margin-top:-200px; margin-left:-50%; width:100%; z-index:10000; }
.white_content01 .movie_text { padding:20px; font-size:12px; background:#fff; }
.white_content01 .movie_text p { padding-bottom:10px;font-size:16px; font-weight:600; }
/*
.divpop_close {color:#fff; text-align:right; text-decoration:none; font-size:12px; overflow:hidden; background-color:#0090D0;}
.divpop_close a {color:#fff; font-weight:bold; text-decoration:none; vertical-align:middle; border-left:1px solid #fff; margin-left:10px; padding:0 10px;}
*/
#divpop, #fade { visibility: hidden;}
#divpop01, #fade01 { visibility: hidden;}

.bx-wrapper .bx-controls-direction a { position: absolute; top:50%; margin-top:-21px!important; outline:0; width: 42px!important; height: 42px!important; text-indent: -9999px; z-index: 9999; background-size:cover;}
.bx-wrapper .bx-prev { left: 10px!important; background: url(images/controls_02.png) no-repeat 0 0!important; background-size:cover!important;}
.bx-wrapper .bx-next { right: 10px!important; background: url(images/controls_02.png) no-repeat -42px 0!important;  background-size:cover!important;}

.bx-wrapper .bx-pager.bx-default-pager a { text-indent: -9999px; display: block; width: 10px!important; height: 10px!important; margin: 0 5px; outline: 0;
    -moz-border-radius: 5px!important; -webkit-border-radius: 5px!important; border-radius: 5px!important; }


.bx-wrapper .bx-pager { position:absolute!important; text-align:center; font-size:10px!important; line-height:20px; border-radius:17px; font-weight:bold;
    color: #666; padding:0 10px!important; display:inline-block; background:#000; right:20px!important; left:auto!important; top:10px!important; opacity:0.5; }

.main_slider .bx-wrapper .bx-pager { position:relative!important; text-align: center; font-size:.85em; font-family: Arial; font-weight: bold; color: #666; padding: 20px 0 0!important;
	display:block; background:none; left:0; right:0 !important; top:-40px!important; }

.main_slider .bx-wrapper .bxslider li a img { min-height:177px;}

h1 { padding-bottom:0px; font-size:18px; color:#393939; font-weight:600; }
h1 p { padding-top:10px; font-size:14px; color:#959595; font-weight:400; line-height:20px; }
h2 { position:relative; padding-top:10px; padding-bottom:20px; padding-right: 0; font-size:18px; color:#393939; font-weight:600; text-align:left; }
h2.right_select { padding-right: 95px;}
h2 p { display:inline-block; position:absolute; top:8px; right:0; }

h3 { padding:25px 0 20px; font-size:32px; color:#000; font-weight:600; line-height:32px; }
h4 { padding:45px 0 20px; font-size:25px; color:#000; font-weight:600; }
h5 { padding:10px 0 38px; font-size:35px; line-height:50px; color:#000; font-weight:600; }
h6 { padding:0 0 30px; font-size:30px; color:#000; font-weight:600; line-height:30px; }

.txt { padding:0 15px!important; height:22px; line-height:22px; border:1px solid #c1c1c1; box-sizing:border-box; font-size:14px; color:#0f0f0f; font-family:'Nanum Square', 'dotum', 'AppleGothic'; }
.txt.round { padding:0 20px 0 10px !important; border:1px solid #c1c1c1; box-sizing:border-box; color:#959595; border-radius:10px; }

.txt02 { width:70%; padding:0 15px!important; height:35px; line-height:35px; box-sizing:border-box; font-size:14px; color:#0f0f0f; font-family:'Nanum Square', 'dotum', 'AppleGothic'; }


/* �� */
.submenu { margin-bottom:10px; background:#ab6f32; text-align:center; font-size:0; }
.submenu a { display:inline-block; padding:0 20px; line-height:45px; font-size:10px; color:#fff; font-weight:600; }
.submenu a.on { color:#ffe68b; background:#8f571d; }
.submenu a img { padding-right:5px; max-height:9px; }

.tab { position:relative; padding-top:20px; margin-bottom:50px; font-size:0; overflow:hidden; }
.tab a { display:inline-block; padding:0 35px; line-height:50px; text-align:center; font-size:18px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:25%; }
.tab a.on { color:#ab6f32; border:2px solid #ab6f32; border:1px solid #ab6f32; background:#fff; }

.tab02 { position:relative; padding-top:0px; margin-bottom:25px; font-size:0; overflow:hidden; }
.tab02 a { display:inline-block; padding:0; line-height:30px; text-align:center; font-size:14px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:25%; }
.tab02 a.on { color:#ab6f32; border:1px solid #ab6f32; background:#fff; }

.tab03 { position:relative; padding-top:20px; margin-bottom:25px; font-size:0; overflow:hidden; }
.tab03 a { display:inline-block; padding:0 ; line-height:30px; text-align:center; font-size:13px; color:#7c7c7c; font-weight:600; background:#f4f4f4;border:1px solid #d7d8d8; box-sizing:border-box; width:50%; }
.tab03 a.on { color:#ab6f32; border:1px solid #ab6f32; background:#fff; }


.more { position:relative; margin:15px 0; text-align:center; }
.more a { display:inline-block; padding:0 110px; font-size:12px; color:#6a6a6a; font-weight:600; line-height:30px; border:1px solid #c1c1c1; border-radius:35px; }
.more a img { padding-left:5px; width:11px; }



/* Ǫ�� */
.footer { margin-top:30px; padding:25px 0 25px; border-top:1px solid #d7d8d8; background:#f7f7f7; text-align:center; box-sizing:border-box; }
.footer .left { display:block; padding-right:0px; vertical-align:top; }
.footer .left img { width:80px; }
.footer .right { display:inline-block; padding-top:10px; font-size:8px; letter-spacing:-0.2px; text-align:center; line-height:12px; }
.footer .right span { color:#b2b2b2; }


/* UI Object */
.info{border-bottom:1px solid #ddd;font-size:11px; }
.info .hgroup{position:relative;margin:0 0 0 0;*zoom:1}
.info .hgroup .trigger{overflow:visible;position:absolute;top:50%;right:0;margin:-7px 0 0 0; padding:0; border:0; color:#ab6f32; font-weight:600; background:none; font-size:18px; cursor:pointer}
.info .hgroup .trigger span { color:#ab6f32; font-weight:600; font-size:14px; }
.info ul{margin:0;padding:0;list-style:none}
.info .q{position:relative; margin:0;border-top:1px solid #ddd}
.info .q a.trigger{display:block;padding:15px 15px;background:#fafafa;font-weight:bold;color:#333;text-align:left;text-decoration:none !important; font-size: 14px; }
.info .hide .q a.trigger{font-weight:normal;background:none}
.info .q a.trigger:hover, .info .q a.trigger:active, .info .q a.trigger:focus{background:#f8f8f8;color:#a26322;}
.info .a{margin:0; padding:10px 20px 20px; line-height:1.5; font-size:11px; }
.info span { color:#999; font-size:11px; }
.after_up { position:absolute; top:15px; right:10px; width:11.5px; height:7.5px; background:url(../img/bullet_spread.png) 0 0 no-repeat; text-indent:-5000px; cursor:pointer; background-size:cover; }
.after_down { position:absolute; top:15px; right:10px; width:11.5px; height:7.5px; background:url(../img/bullet_spread_01.png) 0 0 no-repeat; text-indent:-5000px; cursor:pointer; background-size:cover; }

/* UI Object */
.faq{border-bottom:1px solid #ddd;font-size:11px; }
.faq .hgroup{position:relative;margin:0 0 0 0;*zoom:1}
.faq .hgroup .trigger{overflow:visible;position:absolute;top:50%;right:0;margin:-7px 0 0 0; padding:0; border:0; color:#ab6f32; font-weight:600; background:none; font-size:18px; cursor:pointer}
.faq .hgroup .trigger span { color:#ab6f32; font-weight:600; font-size:11px; }
.faq ul{margin:0;padding:0;list-style:none}
.faq .q{margin:0;border-top:1px solid #ddd}
.faq .q a.trigger{display:block;padding:15px 15px;background:#fafafa;font-weight:bold;color:#333;text-align:left;text-decoration:none !important; font-size: 14px; }
.faq .hide .q a.trigger{font-weight:normal;background:none}
.faq .q a.trigger:hover, .faq .q a.trigger:active, .faq .q a.trigger:focus{background:#f8f8f8;color:#a26322;}
.faq .a{margin:0; padding:10px 20px 20px; line-height:1.5; font-size:14px; }
.faq span { color:#999; font-size:11px; }


/* UI Object */
.paginate{padding:25px 0 20px; text-align:center; font-size:0; }
.paginate a img{border:none;vertical-align:middle;_vertical-align:top}
.paginate a,.paginate strong { display:inline-block; position:relative; padding:0 10px; color:#6a6a6a; font-size:14px; font-weight:600; line-height:38px; border:1px solid #d7d8d8; border-left:0; text-decoration:none; vertical-align:middle}
.paginate strong {color:#fff !important;font-weight:bold; background:#ab6f32; }
.paginate .frst{background:none}
.paginate a.pre,.paginate a.next{padding:0 10px; background:none !important}
.paginate a.pre{margin:0; border-left:1px solid #d7d8d8;}
.paginate a.next{margin:0;}


.info_data { font-size:12px; line-height:18px; }
.info_data .title { padding:10px 0; font-size:12px; font-weight:600; }
.info_data .dep01 {  }
.info_data .dep01 li { padding-left:10px; background:url(../img/bullet_dot.png) 0 10px no-repeat; line-height:18px; }
.red { color:#f55555 !important; }
.red_big { display:block; color:#f55555 !important; padding:20px 0 10px; font-size:11px!important; font-weight:600; }
.table_q { margin:10px 0 0; padding:10px; color:#ab6f32; font-weight:600; border-top:1px solid #d7d8d8; border-bottom:1px solid #d7d8d8; background:#f7f7f7;}
.table_a { margin:0 0 10px; padding:10px; border-bottom:1px solid #d7d8d8; }

.info_data .list_table01 { margin:10px 0; }
.info_data .list_table01 th { padding:5px; border:1px solid #dfdfdf; border-right:0; font-size:12px; background:#f7f7f7; text-align:center; }
.info_data .list_table01 th:first-child { border-left:0; }
.info_data .list_table01 td { padding:5px; border:1px solid #dfdfdf; border-right:0; text-align:center; }
.info_data .list_table01 td:first-child { border-left:0; }
.info_data .list_table01 td a { display:inline-block; color:#ab6f32; }
.down_file { height:30px; margin-bottom:3px; }

/* �� */
.contents_view { font-size:14px; line-height:24px; color:#333; }
.contents_view_center { text-align:left; }
.contents_view .padd { padding-bottom:20px; }
.contents_view .padd img { min-width:100%; }
.contents_view .title { font-size:20px; line-height:30px; font-weight:600; }
.contents_view .date { padding:10px 0 20px; font-size:12px; color:#959595; line-height:15px; }
.contents_view .root { padding:30px 0 0; font-size:11px; color:#959595; }
.contents_view .root img { height:19px; }

.contents_view .homepage { padding:5px 0 25px; font-size:12px; }
.contents_view .homepage span { color:#ab6f32; }
.contents_view .homepage .add_copy { display:inline-block; margin-left:12px; padding:0 10px; font-size:10px; color:#fff; line-height:16px; background:#ab6f32; border-radius:8px; }
.contents_view .date01 { padding:0; font-size:12px; color:#959595; }
.meeting_view { padding-bottom:25px; overflow:hidden; }
.meeting_view .padd_left { float:none; }
.meeting_view .padd_left img { min-width:100%; }
.meeting_view p { padding-left:0px; padding-top:10px; }

.share { position:relative; margin:30px 0 20px; text-align:center; }
.btn_share { display:inline-block; width:40px; height:40px; background:url(../img/btn_share.png) 0 0 no-repeat; background-size:cover; text-indent:-5000px; }
.btn_share.on { background:url(../img/btn_share_on.png) 0 0 no-repeat; background-size:cover;  text-indent:-5000px; }
.share_more { display:none; position:relative; top:0; left:auto; margin:20px auto; padding:10px 15px; background:#fff; border:1px solid #ccc; }
.share_more:after { content:""; position:absolute; top:-13px; left:50%; margin-left:-10px; width:20px; height:14px; background:url(../img/bullet_share.png) 0 0 no-repeat; }
.share_more a { margin:0 3px; }
.share_more a img {height:30px; }

.share01 { position:relative; text-align:center; margin-top:20px;}
.btn_share01 { display:inline-block; width:22px; height:22px; background:url(../img/btn_share01.png) 0 0 no-repeat; text-indent:-5000px; background-size:cover; }
.share_more01 { display:none; position:relative; top:20px; left:auto; width:320px; margin:0 auto; padding:10px 15px; background:#fff; border:1px solid #ccc; box-sizing:border-box; text-align:center; }
.share_more01:after { content:""; position:absolute; top:-13px; left:50%; margin-left:-10px; width:20px; height:14px; background:url(../img/bullet_share.png) 0 0 no-repeat; }
.share_more01 a { margin:0 3px; }
.share_more01 a img { width:25px; }
.share_more01 a.copy img { width:50px; }


.contents_view02 { font-size:18px; line-height:38px; color:#333; }
.contents_view02_center { text-align:center; }
.contents_view02 .padd { padding-bottom:40px; }
.contents_view02 .padd img { min-width:100%; }
.contents_view02 .title { font-size:20px; line-height:30px; font-weight:600; }
.contents_view02 .date { padding:0 0 15px; margin-bottom:15px; font-size:12px; line-height:30px; color:#959595; border-bottom:1px solid #d7d8d8; }
.contents_view02 p { font-weight:400; font-size:14px; line-height:20px; }

/* ���̺� */
.list_table01 { margin-top:10px; }
.list_table01 th { padding:5px; border:1px solid #dfdfdf; border-right:0; font-size:14px; background:#f7f7f7; }
.list_table01 th:first-child { border-left:0; }
.list_table01 td { padding:5px; border:1px solid #dfdfdf; border-right:0; font-size:14px; text-align:center; }
.list_table01 td:first-child { border-left:0; }
.list_table01 td a { display:inline-block; color:#ab6f32; }

.list_table02 {}
.list_table02 th { padding:5px; border:1px solid #dfdfdf; border-right:0; font-size:12px; background:#f7f7f7; }
.list_table02 th:first-child { border-left:0; }
.list_table02 td { padding:5px; border:1px solid #dfdfdf; border-right:0; font-size:12px; }
.list_table02 td:first-child { border-left:0; }
.list_table02 td a { display:inline-block; color:#ab6f32; }
.list_table02 td .copy { display:inline-block; margin:5px 0; padding:0 15px; color:#fff; line-height:26px; background:#ab6f32; border-radius:13px; }

.list_table03 {}
.list_table03 th { padding:5px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; font-size:12px; background:#f7f7f7; }
.list_table03 td { padding:5px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;  font-size:12px; }
.list_table03 td a { display:inline-block; color:#ab6f32; }
.list_table03 th.view_cell { display:none; }

.list_table04 { margin:15px 0; }
.list_table04 th { padding:0px 5px; border:1px solid #dfdfdf; border-right:0; font-size:12px; background:#f7f7f7; font-weight:400; }
.list_table04 th:first-child { border-left:0; }
.list_table04 th.bg_white { background:#fff; }
.list_table04 td { padding:0px 5px; border:1px solid #dfdfdf; border-right:0; font-size:12px; }
.list_table04 td:first-child { border-left:0; }

.list_type01 > a { display:block; color:#393939; }
.list_type01 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type01 dl dt { display:inline-block; padding:10px 10px; box-sizing:border-box; font-size:14px; text-align:center; line-height:25px; font-weight:600; background: #f7f7f7; border-top:1px solid #dfdfdf; }
.list_type01 dl dt.l_no { width:15%; }
.list_type01 dl dt.l_title { width:65%; text-align:left; }
.list_type01 dl dt.l_file { width:20%; }
.list_type01 dl dt.l_date { width:20%; display:none; }
.list_type01 dl dt.l_count { width:10%; display:none; }

.list_type01 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type01 dl dd { display:inline-block; padding:10px 10px; box-sizing:border-box; font-size:14px; text-align:center; line-height:20px; }
.list_type01 dl dd.l_no { width:15%; }
.list_type01 dl dd.l_title { width:65%; text-align:left; }
.list_type01 dl dd.l_file { width:20%; }
.list_type01 dl dd.l_date { width:20%; display:none; }
.list_type01 dl dd.l_count { width:10%; display:none; }
.list_type01 dl dd.l_file img { width:6px; }

.list_type02 > a { display:block; color:#393939; }
.list_type02 dl dt { display:inline-block; padding:10px 10px; box-sizing:border-box; font-size:14px; text-align:center; line-height:20px; vertical-align:middle; font-weight:600; background: #f7f7f7; border-top:1px solid #dfdfdf; }
.list_type02 dl dt.l_no { width:15%; }
.list_type02 dl dt.l_cate { width:15%; }
.list_type02 dl dt.l_title { width:50%; text-align:left; }
.list_type02 dl dt.l_file { width:20%; }
.list_type02 dl dt.l_date { width:20%; display:none; }
.list_type02 dl dt.l_count { width:15%; display:none; }

.list_type02 dl { border-bottom:1px solid #d7d8d8; font-size:0; }
.list_type02 dl dd { display:inline-block; padding:10px 10px; box-sizing:border-box; font-size:14px; text-align:center; line-height:20px; }
.list_type02 dl dd.l_no { width:15%; }
.list_type02 dl dd.l_cate { width:15%; }
.list_type02 dl dd.l_title { width:50%; text-align:left; }
.list_type02 dl dd.l_file { width:20%; }
.list_type02 dl dd.l_date { width:20%; display:none; }
.list_type02 dl dd.l_count { width:15%; display:none; }
.list_type02 dl dd.l_file img { width:6px; }


.btn_area02 { position:relative; text-align:center; }
.btn_area02 a { display:inline-block; padding:0 10px; font-size:12px; text-align:center; color:#ab6f32; font-weight:600; border:1px solid #ab6f32; box-sizing:border-box; line-height:20px; border-radius:10px; }


.image_view { margin-top:50px; }

#main_frame{ height: 230px; width: 100%;}
#divpop01{ margin-top: -40%; }






}



